node_modules
dist
coverage
src/generated
prisma.config.js
prisma.config.d.ts
prisma.config.js.map
.env
.env.*
!.env.docker.example
portofolio-tracker-service-acc-key.json
*.json.key
npm-debug.log*
.git
.gitignore
README.md
test
*.md
.vscode
.idea
.temp
.tmp
